* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.sub-menu-parent {
    position: relative;
}

.sub-menu {
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu li {
    border-bottom: solid 1px white;
}

.sub-menu-parent:hover .sub-menu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    box-shadow: 2px 2px 10px #888888;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
}


/* presentational */

body {
    font: 18px/1.4 sans-serif;
    background-color: #ffffff;
	
}
.spacer{
	padding-left:5%;
}
nav {
    box-shadow: 2px 2px 10px #888888;
}

nav a {
    color: white;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

nav ul, nav ul li {
    list-style-type: none;
    left-padding: 0;
    margin: 0;
}

nav>ul {
    background: #688BB7;
    text-align: left;
}

nav>ul>li {
    display: inline-block;
    border-right: solid 2px white;
}

nav>ul>li:first-child {
    border-left: none;
}

.sub-menu {
    background: #35629B;
}

.content {
    background-color: white;
    box-shadow: 2px 2px 10px #888888;
    width:55%;
  
}

h1 {
    text-align: center;
}

.loghours {
    box-shadow: 2px 2px 10px #888888;
      background-color: #A1B7E1;
    float:right;
    width: 33.33%;
    text-align:center;
	height:100%;
}
.loghours .hourcontent{
  background-color: #DBE6FC;
  text-align:left;
  height:100%;
}
.loghours .hourcontent label {
  margin-left: 10px;
}
label textarea{
 vertical-align: middle;
}
.addbutton{
text-align:center;

}
.addbutton input {
	width:100%;
}
 th, td, tr{
  border: solid 1px black;
  text-align:center;
}
td{
width:1%;
}
th {
  background-color:#A1B7E1;
}
.underline{
	text-decoration:underline;
}
.contentcenter{
	width: 66.6%;
	margin: 0 auto;
	text-align:center;
	box-shadow: 2px 2px 10px #888888;

}
.studentlist{
	width: 40.6%;
	margin: 0 auto;
	text-align:center;
	display: table;
	box-shadow: 2px 2px 10px #888888;
	padding-left:10%;
	padding-right:10%;
}
td textarea {
    width: 90%;
    height: 100%;
	resize:none;
}

.active{
	float:left;
	
}
.inactive{
	float:right;
}
.TypeOfDrive{
	display:inline-block;
}
.reminder{
	width:100%;
   display: flex;
   justify-content: center;
   align-items:center;
}
.reminder textarea{
	width:90%;
	height:50px;
}
.reminder input{
	width:10%;
	height:50px;
}
textarea{
	resize:none;
}
/*Stole some animation stuff from https://codepen.io/shshaw/*/
